---
templateKey: result-page
title: Test result for R4
category: R4
heading: Test result for R4
subheading: Trying out something
featuredimage:
  image: /img/shuttle.jpg
---
<scoreboard>{"matches":[{"teamA":{"players":[{"name":"Nogueron Matthieu","club":"BML","ranking":"NC"}]},"teamB":{"players":[{"name":"Marc Simon","club":"BML","ranking":"NC"}]},"score":{"set":[{"scoreA":21,"scoreB":12},{"scoreA":13,"scoreB":21},{"scoreA":21,"scoreB":18}]}},{"teamA":{"players":[{"name":"Matthieu Nogueron","club":"BML","ranking":"P10"},{"name":"Reatha Tith","club":"BML","ranking":"P10"}]},"teamB":{"players":[{"name":"Marc Simon","club":"BML","ranking":"P11"},{"name":"Yi Zhan","club":"BML","ranking":"P11"}]},"score":{"set":[{"scoreA":10,"scoreB":15},{"scoreA":15,"scoreB":13},{"scoreA":15,"scoreB":11}]}},{"score":{"set":[{"scoreA":21,"scoreB":18},{"scoreA":21,"scoreB":15}]},"teamA":{"players":[{"name":"Matthieu Nogueron","club":"BML","ranking":"R6"}]},"teamB":{"players":[{"name":"Marc Simon","club":"BML","ranking":"N2"}]}}]}</scoreboard>

<scoreboard>{"matches":[{"teamA":{"players":[{"name":"Matthieu Nogueron","club":"BML","ranking":"P10"},{"name":"Reatha Tith","club":"BML","ranking":"P10"}]},"teamB":{"players":[{"name":"Marc Simon","club":"BML","ranking":"P11"},{"name":"Yi Zhan","club":"BML","ranking":"P11"}]},"score":{"set":[{"scoreA":10,"scoreB":15},{"scoreA":15,"scoreB":13},{"scoreA":15,"scoreB":11}]}}]}</scoreboard>