@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-image-gallery/styles/css/image-gallery.css';

@media screen and (min-width: 62em) {
  .image-gallery-content:not(.fullscreen) .image-gallery-slides {
    height: 500px; /*your desired fix-height*/
  }
}

@media screen and (min-width: 48em) and (max-width: 62em) {
  .image-gallery-content:not(.fullscreen) .image-gallery-slides {
    height: 450px; /*your desired fix-height*/
  }
}

@media screen and (min-width: 30em) and (max-width: 48em) {
  .image-gallery-content:not(.fullscreen) .image-gallery-slides {
    height: 400px; /*your desired fix-height*/
  }
}

.image-gallery:has(.image-gallery-content.fullscreen) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-gallery-content.fullscreen {
  max-height: 100%;
}

.image-gallery-content.fullscreen > .image-gallery-slide-wrapper,
.image-gallery-content.fullscreen .image-gallery-swipe,
.image-gallery-content.fullscreen .image-gallery-slide {
  max-height: calc(100vh - 118px);
}

.image-gallery-slide,
.image-gallery-image {
  max-height: unset;
  height: 100%;
  object-fit: contain;
}

.image-gallery-thumbnail {
  width: unset;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  width: auto;
  height: 100px;
}
